DB_HOST=localhost
DB_USERNAME=geometrydashplace
DB_PASSWORD=password
DB_NAME=geometry_dash_place
DB_PORT=21556
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTHENTICATION__GOOGLE__CALLBACKPATH=/signin-google
