.geometry-dash-text {
    display: inline-flex;
    flex: none;
}

.glyph-slot {
    position: relative;
    display: block;
    flex: none;
}

.glyph-image {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
}
